name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  test-linux:
    name: Test (Linux)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup mise
        uses: jdx/mise-action@v2
        with:
          install: true
          experimental: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: mise run cross-build:linux

      - name: Build guest binaries
        run: mise run cross-build:guest

      - name: Test
        run: mise run test

      - name: Vet
        run: mise run vet

      - name: Lint
        run: mise run lint

  test-darwin:
    name: Test (macOS)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup mise
        uses: jdx/mise-action@v2
        with:
          install: true
          experimental: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: mise run cross-build:darwin

      - name: Test
        run: mise run test
